.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.app h1 {
  text-align: center;
}

.news {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  overflow-y: auto;
  flex: 1;
}

.createButton {
  max-width: 200px;
  margin: 0 24px;
  align-self: flex-end;
}

.empty {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: rgb(157, 157, 157);
}

@media (max-width: 450px) {
  .createButton {
    max-width: 100%;
  }
}
